body {
    margin: 0; /* Elimina el margen por defecto del body */
    height: 100%; /* Asegura que el body ocupe el 100% de la altura de la ventana */
    
}

.fondo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../Fn8yD-qXoAA2_UT.jpg'); /* Ruta a tu imagen */
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh; /* Hace que el contenedor ocupe el 100% de la altura de la ventana */
    position: relative;
   
}

.ejercicio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    border: 1px solid black;
    background-color: aqua;
    padding: 10px;
    box-shadow: 1px 0px 1px 0.3px rgb(0, 0, 0);
    position: absolute;
    font-size: 2em;
    padding: 20px;
    border-radius: 20px;
    
}